/* CSS Document */
body{
	background-image: url("Pictures/prism.png")
}
html{
	font-family: "Tommy";
	
}
@font-face{
	font-family: "Tommy";
	src:url("Fonts/MADE TOMMY Regular_PERSONAL USE.otf");
}
h1{
	font-family: "Tommy";
	color: whitesmoke;
	
}
p{font-family: "Tommy";
color: lightgrey;
	margin-left: 15%;
	margin-right: 15%;
}
button{
	background-color: gray;
	border-width: 10%;
	border-radius: 2px;
	color: whitesmoke;
	font-family: "Tommy";
}
button:hover{
	background-color: lightgray;
}
hr{
	background-color: darkgray;
	border-width: 3px;
	border-radius: 20px;
}
img{
	border-radius:20px;
}
h3{
	font-family: "Tommy";
	color: whitesmoke;
}
